@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #a2aaa9;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end ;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: none;
    margin-right: auto;
}

.cta {
    word-spacing: 10px;
    display: inline-block;
    padding: 0px 10px;
}
.nav__links li {
    list-style: none;
    display: inline-block;
}
.nav__links {
    display: inline-block;
    padding: 0px 20px;
    word-spacing: 25px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
 button:hover {
    background-color: rgba(0,136,169,0.8);
 }
.tltc {
    font-size: 28px;
    font-weight: bolder;
    line-height: 30px;
 }

 .text-box {
    font-family: "Montserrat", sans-serif;
    font-size: large;
    width: 90%;
    color: #fff;
    top: 60%;
    left: 50%;
    text-align: left;
    line-height: 25px;
    /* alec addition */
    margin-right:20px;
 }
 .hero-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: rgba(0,136,169,1);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    display: inline-block;
    position: center;
 }
 .hero-btn:hover {
    background-color: rgba(0,136,169,0.8);
 }

.img-family {
    float: right;
    /* position: static; */
    border-radius: 20px;
    /* Alec addition */
    margin:20px;
}
/* form styling */

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat" , sans-serif;
}
.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.registration-form h1 {
    font-size: 35px;
    text-align: center;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
body {
    color: #fff;
}

.registration-form p {
    font-size: 20px;
    margin: 15px 0;
}
.registration-form input {
    font-size: 16px;
    padding: 13px 8px;
    width: 100%;
    border: 50;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    outline: none;
}

.registration-form button {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    border: 0;
}
/* new page */

.newpage {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}